<div>
  <h2>How comfortable are you with:</h2>
  <article ng-repeat="entry in entries">
    <h3>{{entry.subject}}</h3>
    <rzslider rz-slider-model="entry.value" rz-slider-options="sliderConfig"></rzslider>
  </article>


  <div id="results">
    <hr>
    <article ng-repeat="career in careers">
      <h2>{{career.title}} </h2>
      <img src="{{career.thumbnail_url}}" />
      <p ng-bind-html="career.custom_fields.summaryHtml"></p>
      <p><strong>Key facts on fit: </strong><span ng-bind-html="career.custom_fields.keyFactsOnFit"></span></p>
      <div style="clear: both;"></div>
    </article>
  </div>
</div>

